venv/
__pycache__/
*.pyc
.DS_Store
node_modules/
dist/
.env
env/
.pytest_cache/
.vscode/
/.idea/
coverage/
*.sqlite3
static/frontend/dist/

# Mobile App
eMeterApp/node_modules/
eMeterApp/.expo/
eMeterApp/dist/
eMeterApp/web-build/
eMeterApp/.env